@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(150px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes slide-up2 {
    0% {
        opacity: 0;
        transform: translateY(-150px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}



.Center{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    animation: slide-up 1s ease-out;
    
}

.Center2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    animation: slide-up2 1s ease-out;
}
.discord{
  /* a */
  size: 60%;
}
body{
    color: rgb(255, 255, 255);
    background-color: #242424;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: #202020;
    font-size: 35px;
    padding: 35px;
}
.Info{
    text-align: center;
    padding-top: 3px;
}
