@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateX(200px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes slide-up2 {
    0% {
        opacity: 0;
        transform: translateX(-200px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}



.Center{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    animation: slide-up 1s ease;
    
}

.Center2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    animation: slide-up2 1s ease;
}
body{
    color: rgb(255, 255, 255);
    background-color: #242424;
}
